{% load static %}
<html>
<head>
<title>E-Voting</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">Blockchain E-Voting Done Right: Privacy and Transparency with Public Blockchain</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
      <li><a href="{% url 'AddParty' %}">Add Party Details</a></li>
	  <li><a href="{% url 'ViewParty' %}">View Party Details</a></li>
	  <li><a href="{% url 'ViewVotes' %}">View Votes</a></li>
	  <li><a href="{% url 'index' %}">Logout</a></li>		
		</center></ul>
		<br class="clearfix" />
	</div>
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>
	<br/>
	{{ data|safe }}

	
</body>
</html>
